h1{
    color: #01b4dc;
}

body{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-color: white;
    padding: 50px;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.8;
}
